<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.4 
# *Python with MongoDB*

## Introduction to PyMongo

In [1]:
#!pip install pymongo

Collecting pymongo
  Using cached pymongo-3.12.0-cp38-cp38-win_amd64.whl (397 kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.12.0

In [5]:
from IPython.core.display import display, HTML
import pymongo
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 3.12.0

Start the mongod server (if it isn't lready running) by executing  
`mongod`  
at the command prompt.

In [6]:
client = MongoClient('localhost', 27017)

What would this do?

In [7]:
db = client.test
collection = db.people
collection.drop()

What would this do?

Collection "people" is dropped from database "test".

In [8]:
client.test.drop

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'drop')

Drops database "test".

In [9]:
# Drop database "mydatabase" before creating it below: 
client.mydatabase.drop

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase'), 'drop')

Create a new database:

In [10]:
mydb = client["mydatabase"]

Confirm that the database exists ... 

- list all databases in your system:

In [11]:
print(client.list_database_names())

['admin', 'config', 'local']

- check for the database by name:

In [12]:
dblist = client.list_database_names()
if "mydatabase" in dblist:
  print("The database exists.")

If the new database was never created before, it will not be found because mongodb is lazy: the db won't get created until data has been written to it!

Create a collection called "customers" (with object name `mycol`):

In [13]:
mycol = mydb["customers"]

Create a document (i.e. a dictionary) with two name:value items 
("name" = "John", and "address" = "Highway 37") and insert 
it into the "customers" collection:

In [14]:
mydict = { "name": "John", "address": "Highway 37" }
x = mycol.insert_one(mydict)

Now test for the existence of the database:

In [15]:
print(client.list_database_names())

['admin', 'config', 'local', 'mydatabase']

List all collections in the database:

In [16]:
print(mydb.list_collection_names())

['customers']

Insert another record in the "customers" collection 
("name" = "Peter", "address" = "Lowstreet 27") 
and return the value of the _id field:

In [17]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }
x = mycol.insert_one(mydict)
print(x.inserted_id)

60f2940c7eb3d21b38e1d611

Given the list of dicts below, insert multiple documents into 
the collection using the insert_many() method:

In [18]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [19]:
x = mycol.insert_many(mylist)

Print a list of the _id values of the inserted documents:

In [20]:
print(x.inserted_ids)

[ObjectId('60f2940d7eb3d21b38e1d612'), ObjectId('60f2940d7eb3d21b38e1d613'), ObjectId('60f2940d7eb3d21b38e1d614'), ObjectId('60f2940d7eb3d21b38e1d615'), ObjectId('60f2940d7eb3d21b38e1d616'), ObjectId('60f2940d7eb3d21b38e1d617'), ObjectId('60f2940d7eb3d21b38e1d618'), ObjectId('60f2940d7eb3d21b38e1d619'), ObjectId('60f2940d7eb3d21b38e1d61a'), ObjectId('60f2940d7eb3d21b38e1d61b'), ObjectId('60f2940d7eb3d21b38e1d61c'), ObjectId('60f2940d7eb3d21b38e1d61d')]

Execute the next cell to insert a list of dicts with specified `_id`s:

In [21]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

Now try inserting a new dict with an existing `_id`:

In [22]:
x = mycol.insert_one({ "_id": 14, "name": "Manuel", "address": "Barcelona"})

DuplicateKeyError: E11000 duplicate key error collection: mydatabase.customers index: _id_ dup key: { _id: 14 }, full error: {'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 14}, 'errmsg': 'E11000 duplicate key error collection: mydatabase.customers index: _id_ dup key: { _id: 14 }'}

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [23]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('60f2940a7eb3d21b38e1d610'), 'name': 'John', 'address': 'Highway 37'}

Do the same for the document containing "name" = "Hannah":

In [24]:
x = mycol.find_one({"name": "Hannah"})
print(x)

{'_id': ObjectId('60f2940d7eb3d21b38e1d613'), 'name': 'Hannah', 'address': 'Mountain 21'}

This returns (and prints) all documents in the collection:

In [25]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('60f2940a7eb3d21b38e1d610'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('60f2940c7eb3d21b38e1d611'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d612'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d613'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d614'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d615'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d616'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d617'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d618'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d619'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

This returns only the name and address fields:

In [26]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

Print only the `_id` and name fields:

In [27]:
#ANSWER:
for x in mycol.find({},{ "_id": 1, "name": 1 }):
  print(x)

{'_id': ObjectId('60f2940a7eb3d21b38e1d610'), 'name': 'John'}
{'_id': ObjectId('60f2940c7eb3d21b38e1d611'), 'name': 'Peter'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d612'), 'name': 'Amy'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d613'), 'name': 'Hannah'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d614'), 'name': 'Michael'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d615'), 'name': 'Sandy'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d616'), 'name': 'Betty'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d617'), 'name': 'Richard'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d618'), 'name': 'Susan'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d619'), 'name': 'Vicky'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61a'), 'name': 'Ben'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61b'), 'name': 'William'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61c'), 'name': 'Chuck'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61d'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [28]:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('60f2940d7eb3d21b38e1d614'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d617'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d619'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

Now find all docs with an address that begins with "S":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^S" }.)

In [29]:
myquery = { "address": { "$regex": "^S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('60f2940d7eb3d21b38e1d617'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Sorting can be applied by invoking the Sort() method after the Find() method. Sort the collection by the name field:

In [30]:
mydoc = mycol.find().sort("name")
for x in mydoc:
  print(x)

{'_id': ObjectId('60f2940d7eb3d21b38e1d612'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d616'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d613'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('60f2940a7eb3d21b38e1d610'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d614'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('60f2940c7eb3d21b38e1d611'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d617'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d615'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d618'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d619'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

Now sort in reverse order (HINT: The Sort() method takes an optional second parameter.)

In [31]:
help(mycol.find().sort)

Help on method sort in module pymongo.cursor:

sort(key_or_list, direction=None) method of pymongo.cursor.Cursor instance
    Sorts this cursor's results.

    Pass a field name and a direction, either
    :data:`~pymongo.ASCENDING` or :data:`~pymongo.DESCENDING`::

        for doc in collection.find().sort('field', pymongo.ASCENDING):
            print(doc)

    To sort by multiple fields, pass a list of (key, direction) pairs::

        for doc in collection.find().sort([
                ('field1', pymongo.ASCENDING),
                ('field2', pymongo.DESCENDING)]):
            print(doc)

    Beginning with MongoDB version 2.6, text search results can be
    sorted by relevance::

        cursor = db.test.find(
            {'$text': {'$search': 'some words'}},
            {'score': {'$meta': 'textScore'}})

        # Sort by 'score' field.
        cursor.sort([('score', {'$meta': 'textScore'})])

        for doc in cursor:
            print(doc)

    For more advanced text search functionality, see MongoDB's
    `Atlas Search <https://docs.atlas.mongodb.com/atlas-search/>`_.

    Raises :class:`~pymongo.errors.InvalidOperation` if this cursor has
    already been used. Only the last :meth:`sort` applied to this
    cursor has any effect.

    :Parameters:
      - `key_or_list`: a single key or a list of (key, direction)
        pairs specifying the keys to sort on
      - `direction` (optional): only used if `key_or_list` is a single
        key, if not given :data:`~pymongo.ASCENDING` is assumed

In [32]:
mydoc = mycol.find().sort("name", direction=pymongo.DESCENDING)
for x in mydoc:
  print(x)

{'_id': ObjectId('60f2940d7eb3d21b38e1d61b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d619'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d618'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d615'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d617'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60f2940c7eb3d21b38e1d611'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d614'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('60f2940a7eb3d21b38e1d610'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d613'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d616'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d612'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

A single record can be deleted by specifying some criterion:

In [33]:
mycol.delete_one({ "address": "Mountain 21" })

Now delete all docs with the 2-digit `Id` values:

In [34]:
mycol.delete_many({ "_id": {"$lt": 15} })
for x in mycol.find():
  print(x)

{'_id': ObjectId('60f2940a7eb3d21b38e1d610'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('60f2940c7eb3d21b38e1d611'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d612'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d614'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d615'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d616'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d617'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d618'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d619'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61d'), 'name': 'Viola', 'address': 'Sideway 1633'}

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

Change the first instance of "address" == "Valley 345" to "Canyon 123" using update_one().  
(HINT: The 1st paramater of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

In [35]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }
mycol.update_one(myquery, newvalues)
for x in mycol.find():
  print(x)

{'_id': ObjectId('60f2940a7eb3d21b38e1d610'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('60f2940c7eb3d21b38e1d611'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d612'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d614'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d615'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d616'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d617'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d618'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d619'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d61d'), 'name': 'Viola', 'address': 'Sideway 1633'}

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

In [36]:
myresult = mycol.find().limit(5)
for x in myresult:
  print(x)

{'_id': ObjectId('60f2940a7eb3d21b38e1d610'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('60f2940c7eb3d21b38e1d611'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d612'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d614'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('60f2940d7eb3d21b38e1d615'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [37]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html

import os
import pandas as pd
import numpy as np

This code creates a database named "test" and populates it from a JSON file using the mongoimport program (executed in the operating systems itself, rather than in Python):

In [38]:
db = client.test
# Drop the collection in case it was previously created:
# collection = db.people
# collection.drop()

In [42]:
#os.chdir("csv")

In [43]:
pwd()

'C:\\Users\\65911\\Desktop\\module 1\\myLab'

In [44]:
# if this does not return 0, execute mongoimport from a commmand window instead:
os.system('mongoimport --db test --collection people --drop --file C:/Users/Faisal/downloads/dummyData.json')

1

In [45]:
# if this does not return 0, execute mongoimport from a commmand window instead:
os.system('mongoimport -d test -c people --file C:/Users/Faisal/DSIA/dsia/data/dummyData.json')

1

In [46]:
os.chdir("..")

In [47]:
pwd()

'C:\\Users\\65911\\Desktop\\module 1'

In [48]:
db = client.test
collection = db.people
cursor = collection.find().sort('Age', pymongo.ASCENDING).limit(3)
for doc in cursor:
    print (doc)

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [54]:
# pipeline = [
#         {"$group": {"_id":"$Country",
#              "AvgAge":{"$avg":"$Age"},
#              "Count":{"$sum":1},
#         }},
#         {"$sort":{"Count":-1,"AvgAge":1}}
# ]
# aggResult = collection.aggregate(pipeline) # returns a cursor

# df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
# df1 = df1.set_index("_id")
# df1.head()

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [51]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

Empty DataFrame
Columns: []
Index: []

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [52]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [53]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)
    
world_map

Folium version 0.12.1

>
>
>
>
>



---



---



> > > > > > > > >  2021 Institute of Data


---



---